{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tabWidth": 2,
  "importOrder": ["^@/components/(.*)$", "^[./]", "^@/types/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
